{% extends 'base_layout.html' %}

{% block content %}

    <title>Home | Technova</title>

    {% include 'navbar.html' %}

    <div class="text-center" style="height: 100vh; width: 100vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">  

        <h1>Welcome to Technova 6.0</h1>
        <h4>Let the games begin!</h4>

        <div class="nav justify-content-center fs-4 fw-semibold">

            <li class="nav-item">
                <a class="p-3 link" href="{% url 'technova-dashboard' %}"><i class="bi bi-speedometer2"></i> Dashboard</a>
            </li>

        </div>

    </div>

{% endblock %}